PORT=3000
MONGO_URL=mongodb://localhost:27017
MONGO_DB=messages
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=message-created
KAFKA_PARTITIONS=3
KAFKA_GROUP_ID=search-indexer
ELASTICSEARCH_NODE=http://localhost:9200
ELASTICSEARCH_INDEX=messages
JWT_PUBLIC_KEY=
JWT_ISSUER=https://issuer.local
JWT_AUDIENCE=message-api
